.react-calendar-heatmap .color-empty { fill:#ebedf0;margin: 10px; }
.react-calendar-heatmap .color-scale-1 { fill:#40c463; }
.react-calendar-heatmap .color-scale-2 { fill:#30a14e; }
.react-calendar-heatmap .color-scale-3 { fill:#216e39; }
.react-calendar-heatmap .color-scale-4 { fill:#115125; }